<div class="top-header">
  <div class="d-flex justify-content-between align-items-center h-100 gap-4">
    <div class="d-flex justify-content-between align-items-center gap-3">
      <a [routerLink]="['/']" class="d-block">Доставка и оплата</a>
      <a [routerLink]="['/']" class="d-block">Контакты</a>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-1">
      <span class="color-light">Построй и обустрой</span>
      <div class="circle-bg d-flex justify-content-between align-items-center">
        <div class="dot bg-primary"></div>
        <div class="dot bg-primary"></div>
        <div class="dot bg-primary"></div>
      </div>
      <span>Всё для дома, дачи и стройки!</span>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-3">
      <button class="btn btn-transparent">
        <img src="assets/icons/bar-chart-2.svg" />
      </button>
      <button class="btn btn-transparent">
        <img src="assets/icons/heart.svg" />
      </button>
      <button class="btn btn-transparent">
        <img src="assets/icons/shopping-cart.svg" />
      </button>
    </div>
  </div>
</div>
<div class="second-header">
  <div class="d-flex justify-content-between align-items-center h-100">
    <div class="img-second-logo d-flex justify-content-between align-items-center g-lg-5">
      <a [routerLink]="['/']" class="d-block">
        <img src="assets/images/logos/logo-light.png" />
      </a>
      <div class="header-search d-flex">
        <input placeholder="Что ищем?..." class="input-search" />
        <button class="btn btn-primary">
          <img src="assets/icons/search.svg" />
          Поиск
        </button>
      </div>
    </div>
    <div class="soc-sites-wrapp">
      <div class="soc-sites d-flex justify-content-between align-items-center gap-3">
        <a routerLink="/" class="d-block">
          <img src="assets/images/soc-sites/vk.png" width="27" height="27" />
        </a>
        <a routerLink="/" class="d-block">
          <img src="assets/images/soc-sites/facebook.png" width="27" height="27" />
        </a>
        <a routerLink="/" class="d-block">
          <img src="assets/images/soc-sites/instagram.png" width="27" height="27" />
        </a>
        <a routerLink="/" class="d-block">
          <img src="assets/images/soc-sites/youtube.png" width="27" height="27" />
        </a>
      </div>
    </div>
    <div class="link-addresses">
      <a class="btn btn-secondary" routerLink="/">Адреса магазинов</a>
    </div>
    <div class="login-btn">
      <button class="btn btn-success">
        <img src="assets/icons/user-white.svg" />
      </button>
    </div>
  </div>
</div>

<!-- MENU -->
<div class="menu">
  <div class="menu-ch d-flex align-items-center">
    <div class="menu-btn">
      <button class="btn btn-primary">
        <img src="assets/icons/list.svg" />
        Каталог
      </button>
    </div>
  </div>
</div>
