<tui-root>
@if (isDev) {
  <div class="env-banner">DEV</div>
}

@if (false) {
  <!-- progressbar -->
}

<ng-container>
  @if (false) {
    <!-- Enabled night mode -->
  }

  <!-- Loader or Placeholder -->
  <div class="layout-wrapper">
    <!-- HEADER -->
    <app-top-bar></app-top-bar>
  
    <main class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
  <!-- End Loader or Placeholder -->
</ng-container>

</tui-root>